/* Media Queries*/
@media screen and (max-width: 1000px){

.navbar__menu-items {
    display: none;
}

.hero__benefits-container{
    flex-direction: column;
    width: 90vw;
}

.hero__benefit {
display: none;
  }


 .hero__benefit i {
    padding-bottom: .5rem;
  }

.hero__searchbox{
    width: 80%;
}
.events__container{
    width: 100vw;
}


.events__search-title h2 {
    margin-bottom: 0rem;
  }

footer{
    display:none;
}

}