/* Media Queries*/
@media screen and (max-width: 800px){

.navbar__menu-items {
    display: none;
}

.hero__benefits-container{
    flex-direction: column;
    width: 90vw;
}

.hero__benefit {
display: none;
  }

  .hero__headline h1 {
    font-size: 2rem;
  }

 .hero__benefit {
    display: none;
  }

.hero__searchbox{
    width: 80%;
}
.events__container{
    width: 95vw;

}

.events__search-title h2 {
    margin-bottom: 0rem;
  }

footer{
    display:none;
}

}