/* Media Queries*/
@media screen and (max-width: 1000px){

nav{
    display: none;
}

.hero__benefits-container{
    flex-direction: column;
    width: 90vw;
}

.hero__benefit {
flex-direction: column;
  }


.hero__searchbox{
    width: 80%;
}
.events__container{
    width: 90vw;
}

footer{
    display:none;
}

}